<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <%- include('components/header', {user: user}); %>
    <div class="messages-container">
        <% messages.forEach(function(message) { %>
            <div class="message">
                <h2><%= message.title %></h2>
                <p><%= message.message %></p>
                <% if (locals.user) { %>  <!-- First check if locals.user exists -->
                    <div class="message-info">
                        <p><strong><%= message.created_by %></strong>, <%= message.created_at %> </p>
                    </div>
                    <% if (locals.user.admin) { %>
                        <form action="/message/delete/<%= message.id %>" class="delete-message-form" method="POST">
                            <button>Delete message</button>
                        </form> 
                    <% }; %>
                <% }; %>
            </div>
        <% }); %>
    </div>
</body>
</html>
